<?php
echo $this->Form->create('Menu', array('action' => 'assignmenuprivilege', 'type' => 'file', 'style' => "", 'class'=>' '));
?>
<h3>Assign Menu Privilege</h3>
	<div class="row">
		<div class="col-md-3">
	<?php
		$i = 1;
		$menu_match = 0;
		//echo $menuprivilegeUsertypeId;
		//print_r($menucount);
		//print_r($menulist);
		$menulistcount = ceil($menucount/4);
		foreach ($menulist as $menulist_key => $menulist_value) {
			//print_r($menulist_value);
			foreach ($allow_menu_id as $allow_menu_id_key => $allow_menu_id_value) {
				if ($allow_menu_id_value == $menulist_value["Parent"]["ParentID"]) {
					$menu_match = 1;
				}
			}
			echo "<div class=\"inline-checkboxes checkbox\">";
			echo "<label class=\"\">";
			//$menulist_value[0]["ChildName"];
				if ($menu_match == 1) {
					/*echo $this->Form->input(
						"Menuprivilege.menu.menu_id.$i",
						array(
							'type' => 'checkbox',
							'checked'=>'checked',
							'value' => $menulist_key,
							'label' => false,
							'div' => false,
						)
					);
					echo "&nbsp;&nbsp;&nbsp;$menulist_value";*/
					echo $this->Form->input(
						"Menuprivilege.menu.menu_id.$i",
						array(
							'type' => 'checkbox',
							'checked'=>'checked',
							'value' => $menulist_value["Parent"]["ParentID"],
							'label' => false,
							'div' => false,
						)
					);
					echo "&nbsp;&nbsp;&nbsp;".$menulist_value["Parent"]["ParentName"];
					$i++;
					$menu_match = 0;
				} else {
					/*echo $this->Form->input(
						"Menuprivilege.menu.menu_id.$i",
						array(
							'type' => 'checkbox',
							'value' => $menulist_key,
							'label' => false,
							'div' => false,
						)
					);
					echo "&nbsp;&nbsp;&nbsp;$menulist_value";*/
					echo $this->Form->input(
						"Menuprivilege.menu.menu_id.$i",
						array(
							'type' => 'checkbox',
							'value' => $menulist_value["Parent"]["ParentID"],
							'label' => false,
							'div' => false,
						)
					);
					echo "&nbsp;&nbsp;&nbsp;".$menulist_value["Parent"]["ParentName"];
					$i++;
				}
				echo "</label>";
			echo"</div>";
			if(($i-1) % $menulistcount ==0){
		echo "</div>";
		echo "<div class=\"col-md-3\">";
			}

			$child=explode(",", $menulist_value[0]["ChildName"]);
			foreach ($child as $thischild) {
				# code...
				$thischildnameid = explode("-", $thischild);
				//print_r($thischildnameid);
				foreach ($allow_menu_id as $allow_menu_id_key => $allow_menu_id_value) {
					if ($allow_menu_id_value == $thischildnameid[0]) {
						$child_match = 1;
					}
				}
				echo "<div class=\"inline-checkboxes checkbox\">";
					echo "<label class=\"\">&nbsp;&nbsp;&nbsp;";
					//$menulist_value[0]["ChildName"];
						if ($child_match == 1) {
							/*echo $this->Form->input(
								"Menuprivilege.menu.menu_id.$i",
								array(
									'type' => 'checkbox',
									'checked'=>'checked',
									'value' => $menulist_key,
									'label' => false,
									'div' => false,
								)
							);
							echo "&nbsp;&nbsp;&nbsp;$menulist_value";*/
							echo $this->Form->input(
								"Menuprivilege.menu.menu_id.$i",
								array(
									'type' => 'checkbox',
									'checked'=>'checked',
									'value' => $thischildnameid[0],
									'label' => false,
									'div' => false,
								)
							);
							echo "&nbsp;&nbsp;&nbsp;".$thischildnameid[1];
							$i++;
							$child_match = 0;
						} else {
							/*echo $this->Form->input(
								"Menuprivilege.menu.menu_id.$i",
								array(
									'type' => 'checkbox',
									'value' => $menulist_key,
									'label' => false,
									'div' => false,
								)
							);
							echo "&nbsp;&nbsp;&nbsp;$menulist_value";*/
							echo $this->Form->input(
								"Menuprivilege.menu.menu_id.$i",
								array(
									'type' => 'checkbox',
									'value' => $thischildnameid[0],
									'label' => false,
									'div' => false,
								)
							);
							echo "&nbsp;&nbsp;&nbsp;".$thischildnameid[1];
							$i++;
						}
					echo "</label>";
				echo"</div>";
				if(($i-1) % $menulistcount ==0){
			echo "</div>";
			echo "<div class=\"col-md-3\">";
				}
			}
			
		}
	?>
<!--        <tr>
<?php //echo $this->Form->input('sameaddress', array('type' => 'checkbox', 'label' => false,'div'=>false,'style'=>"float:left;margin-left:175px;"));    ?>
          
      </tr>-->



        <input type="hidden" name="data[Menuprivilege][group_id]" value="<?php echo $menuprivilegeGroupId; ?>" />

        <?php echo $this->Form->submit('Add', array('div' => false, 'align' => 'right', 'formnovalidate' => true)); ?>
            <input type="hidden" name="owemenuprivilegesubmit" />
           
		</div>
	</div>

    
<br>
<br>
<?php echo $this->form->end(); ?>


