<script>
function naration()
{
     var my_text=prompt('Enter text here');
     document.getElementById('CompanynarationCompanynaration').value = my_text;
}
</script>
<?php echo $this->Form->create('Companies', array('action' => ' /'.@$id, 'type' => 'file')); ?>
    <table width="100%" border="0">
        <tr>
          
            <td >Are you sure you want to delete?</td>
           
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><?php echo $this->Form->submit('ok', array('div' => false, 'align' => 'right', 'formnovalidate' => true,'Onclick'=>'naration()')); ?>
                <!-- <button onclick="history.go(-1);">Back </button> -->
               <!--  <input type="hidden" name="companysubmit" /> -->
                <input type="hidden" name="data[Companynaration][companynaration]" id="CompanynarationCompanynaration" />
               
            </td>
        </tr>
    </table>
        <?php print $this->Form->end(); ?>    
