<?php
echo "<script>
$(document).ready(function() {
	

$(\"#CompanyCompanyId\").change(function(){
					var CompanyCompanyId = $(\"#CompanyCompanyId\").val();
					
					$(\"#companysarchloading\").html('<img alt=\"\" src=\"".$this->webroot."img/indicator.gif\" />');
					$.post(
						'".$this->webroot."companies/companysearchbytext',
						{CompanyCompanyId:CompanyCompanyId},
						function(result) {
							$(\"#companysarchloading\").html(result);
						}
					);
				});
});
</script>"
?>
<?php
/*window.onload=function()
{
    var el=document.getElementById('jk');
    el.onclick=function(){
        var my_text=prompt('Enter text here');
        if(my_text) alert(my_text); // for example I've made an alert
    }
}
function ConfirmDelete()
{
  var x = confirm("Are you sure you want to delete?");
  if (x)
     var my_text=prompt('Enter text here');
        if(my_text) alert(my_text);
  else
      return false;
}*/
//print_r($this->request['params']['controller']);
//$url = $this->Html->url(array('controller' => 'Companies', 'action' => 'companyinsertupdate')); 
//echo $this->Html->link('Users', $url); 
//print_r($url);
//print_r($this->request);
//var_dump( $this->request->webroot);

	echo "<h2>".__('List of Company'). $Utilitys->addurl($title=__("Add New Company"), $this->request["controller"], $page="company")."</h2>";
	echo $Utilitys->filtertagstart();
		echo $this->Form->input(
			"Company.company_id",
			array(
				'type'=>'select',
				"options"=>array($company),
				'empty'=>__('Select Company'),
				'div'=>false,
				'tabindex'=>1,
				'label'=>false,
				'class'=> 'form-control',
				'style'=>''
			)
		)
		.$this->Form->input(
			"BCompany.companygroupname",
			array(
				'type' => 'text',
				'div' => false,
				'label' => false,
				'tabindex'=>2,
				'placeholder' => __("Search Word"),
				'class'=> 'form-control',
				'style' => ''
			)
		);
	echo $Utilitys->filtertagend();
	echo "
		<div id=\"companysarchloading\">
	";
			echo $Utilitys->paginationcommon();
			echo $Utilitys->tablestart($class=null, $id=null);
					echo $this->Html->tableHeaders(
						array(
							__('SL#'), 
							array(
								__('Company Name (EN)')  => array('class' => 'highlight sortable')
							), 
							array(
								__('Company Name (BN)')  => array('class' => 'highlight sortable')
							), 
							__('Active'), 
							__('Action')
						)
					);
					$companyrows = array();
					$countCompany = 0-1+$this->Paginator->counter('%start%');
					foreach($companies as $company):
						$countCompany++;
						$companyrows[]= array($countCompany,$company["Company"]["companyname"],$company["Company"]["companynamebn"],$Utilitys->statusURL($this->request["controller"], 'company', $company["Company"]["id"], $company["Company"]["companyuuid"], $company["Company"]["companyisactive"]), $Utilitys->cusurl($this->request["controller"],'company',$company["Company"]["id"],$company["Company"]["companyuuid"]));
					endforeach;
					echo $this->Html->tableCells(
						$companyrows
					);
			echo $Utilitys->tableend();
			echo $Utilitys->paginationcommon();

	echo"
		</div>
	";
?>