<script>
function naration()
{
     var my_text=prompt('Enter text here');
     document.getElementById('CompanynarationCompanynaration').value = my_text;
}
</script>
<?php echo $this->Form->create('Companies', array('action' => 'addnaration/'.@$id, 'type' => 'file')); ?>
<fieldset>  
    <legend><h3>Add Company information</h3></legend>
    <table width="100%" border="0">
        <tr>
          
            <td class="label">Are you sure you want to delete?</td>
           
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><?php echo $this->Form->submit('ok', array('div' => false, 'align' => 'right', 'formnovalidate' => true,'Onclick'=>'naration()')); ?>
                <!-- <button onclick="history.go(-1);">Back </button> -->
               <input type="hidden" name="data[Companynaration][companynaration]" />
               
            </td>
        </tr>
    </table>
    </fieldset>
        <?php print $this->Form->end(); ?>    
