<?php
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Product Type')."</h2>
			</td>
		</tr>
		<tr>
			<th>
				".__('Product Type Name')."
			</th>
			<td>
				".$producttype[0]["Producttype"]["producttypename"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Product Type Name BN")."
			</th>
			<td>
				".$producttype[0]["Producttype"]["producttypenamebn"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Active")."
			</th>
			<td>
				".$producttype[0]["Producttype"]["isActive"]."
			</td>
		</tr>
	";
	echo $Utilitys->tableend();
?>