<?php
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Product Category')."</h2>
			</td>
		</tr>
		<tr>
			<th>
				".__('Product Category Name')."
			</th>
			<td>
				".$productcategory[0]["Productcategory"]["productcategoryname"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Product Category Name BN")."
			</th>
			<td>
				".$productcategory[0]["Productcategory"]["productcategorynamebn"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Active")."
			</th>
			<td>
				".$productcategory[0]["Productcategory"]["isActive"]."
			</td>
		</tr>
	";
	echo $Utilitys->tableend();
?>