<?php
$group_id = $this->session->read('User.group_id');
//if( $group_id == NULL ){
    //$group_id = $this->session->read('Customer.usertype_id');
//}
//if ($usertype_id == "") {
//    //$usertype_id = 4;
//      // $userroll = $this->session->read('User.customertype');
//}
?>
        <?php
        //if ($usertype_id == 1) {
//            $url = (array(
//    'controller' => 'Menus',
//    'action' => 'menu',
//    $group_id
//));
//$menusitems = $this->requestAction($url);
$url1 = (array(
    'controller' => 'Menus',
    'action' => 'submenu',
    $group_id
));
        //echo "<div class=\"backend\"><div style=\"float: left\" id=\"my_menu\" class=\"sdmenu\">";
           // echo "<ul>";
    //echo "<nav id=\"site-navigation\">";
     // echo "<ul class=\"main-menu\">";
            $menuNameDisplay = $this->requestAction($url1);
    //echo "</ul>";
    //echo "</nav>";
           // echo "</ul>";
        //echo "</div></div>";
        
        //echo "<ul><li>$menuNameDisplay = $this->requestAction($url1);</li></ul>";
       // $menusitems = $this->requestAction(array('controller' => 'Admins', 'action' => 'menu'), $usertype_id);
            // $menusitems = $this->requestAction('Admins/menu');
         //  $menusitems = $this->requestAction('Admins/menu/$usertype_id');
            //print_r($menusitems);
//                echo  $menusitems[0]['Menu']['menu_url'];
//                $url = explode('/',$menusitems[0]['Menu']['menu_url']);
//                    echo $url[0];
//                    echo "break";
//                     echo $url[1];
            ?>
