<select name="OrderdetailProductId" id="OrderdetailProductId" class="form-control validate[required]">
							<option value="0">Select Product</option>
						<?php if(isset($productlist)){
							foreach($productlist as $key => $value){?>
								<option value="<?php echo $key ?>"><?php echo $value?></option>
						<?php	}}?>
</select>