/*! Main Stylesheet for Accounting Management System */

@import "../development/lessmixins.less";

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('../fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* LESS MIXINS & VARIABLES */

@site-font: 'roboto_condensedregular', Arial, Helvetica, sans-serif;
@base-color: #2FA4FF;

/* LESS MIXINS & VARIABLES */

.alt-border{
    box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
}
.alt-border2{
    box-shadow: inset 1px -1px 1px red, inset -1px 1px 1px red;
}
body{
  font-family: @site-font;
  padding-top: 70px; /* for the fixed top navbar */
}
.hide-by-default{
  display: none;
}
.panel-heading a:hover{
  text-decoration: none;
}
.inline-checkboxes{
  padding: 5px; 
}
.inline-checkboxes:nth-of-type(odd){
  background-color: #ededed;
}

.login-branding{
  background-color: #ededed;

  img{
    max-width: 100%;
    height: auto;
  }
}

/* Header */
.navbar-brand{
	font-weight: bold;
	font-size: 1.875em;
	line-height: 1;

	img{
		display: inline-block;
	}
}
.navbar-text{
	font-size: 1.6em;
	line-height: 1;
}
.navbar-header h1{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
}

.for-mobile{
  display: none;
}

/* Brand */
@media (max-width: 768px){
  .for-site{
    display: none;
  }
  .for-mobile{
    display: inline-block;
  }
}

/* LEFT SIDEBAR */
.left-sidebar{
  ul.nav-pills{
    span.glyphicon{
      margin-right: 10px;
    }
    a{
      border-radius: 0;
    }
    ul{
      list-style-type: none;

      a{
        text-decoration: none;
        display: block;
        padding: 5px;

        &:hover{
          background-color: #ededed;
        }
      }
    }
  }
}
@media (min-width: 768px) {
	.left-sidebar{
		padding: 20px 0;
		overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    .border-box();
    top: 50px;
    bottom: 0;
    left: 0;
    position: fixed;
	}
  .sidebar-menu-toggle-handle{
    display: none;
  }
}
@media (max-width: 767px) {
	.left-sidebar{
		padding: 0 20px 20px;
	}
  .sidebar-menu-toggle-handle{
    background-color: #ededed;
    color: #333;
    text-align: center;
    cursor: pointer;
    margin: 10px 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    .border-radius(3px);

    &:hover{
      background-color: #333;
      color: #fff;
    }
  }
}



/* CONTENT AREA */

/* Home Page */
/* .payee-properties{
  border: 1px solid #ededed;
  .box-shadow (@x: 0, @y: 0, @blur: 3px, @alpha: 0.5);

  h4 .glyphicon{
    .border-radius(50%);
    border: 1px solid #ccc;
    padding: 5px;
    .border-box();
    margin-top: -5px;
  }
  .table,
  address{
    margin-bottom: 5px;
  }
  .alert{
    margin-bottom: 0;
  }
  .glyphicon-edit,
  .glyphicon-random{
    margin-right: 5px;
  }
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


.profile-user-name{
  font-weight: bold;
  font-size: 1.5em;
}
.profile-user-image{
  position: relative;
  //border: 1px solid #ededed;
  padding: 10px;
  .box-shadow (@x: 0, @y: 0, @blur: 3px, @alpha: 0.3);

  img{
    margin-right: auto;
    margin-left: auto;
  }
  .btn-group{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    .transition (@prop: all, @time: .5s, @ease: ease-in-out);
  }

  &:hover .btn-group{
    visibility: visible;
    opacity: 1;
  }
} */


/* FOOTER */

footer#site-footer{
  border-top: 1px solid #eee;
  padding: 10px 0;
  margin-top: 30px;
}
a.logo-footer img{
  height: 40px;
  width: auto;
}
@media (max-width:480px){
  footer#site-footer{
    a.logo-footer,
    p.site-credit{
      clear: both;
      display: block;
      width: 100%;
      text-align: center !important;
      margin-bottom: 5px;
    }
    a.logo-footer{
      padding-bottom: 5px;
    }
    p.site-credit{
      padding: 5px 0;
      background-color: #333;
      color: #fff;

      a{
        color: #fff;
      }
    }
  }
}
.panel-heading{
  a{
    text-decoration: none;
  }
}
.table>tbody>tr>td.borderless-td{
  border: 0;
}
.pagination .current,
.pagination .disabled {
  float: left;
  position: relative;
  padding: 6px 12px;

  line-height: 1.42857143;
  text-decoration: none;

  border: 1px solid #ddd;
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination>li:first-child.disabled {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination>li:last-child.disabled {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}