<script type="text/javascript">
	//window.location.replace("../logins/login");
	
$(location).attr('href', '../logins/login');

</script>
<table>
	<tr>
		<td>You have successfully logout.</td>
	</tr>
</table>