<?php
//print_r($coaclass);
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Chart of Account Class')."</h2>
			</td>
		</tr>
		<tr>
			<th>
				".__('Type')."
			</th>
			<td>
				".$coaclass[0]["Coaclass"]["coatype_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Group")."
			</th>
			<td>
				".$coaclass[0]["Coaclass"]["coagroup_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("CODE")."
			</th>
			<td>
				".$coaclass[0]["Coaclass"]["coaclasscode"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Class")."
			</th>
			<td>
				".$coaclass[0]["Coaclass"]["coaclass_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Active")."
			</th>
			<td>
				".$coaclass[0]["Coaclass"]["isActive"]."
			</td>
		</tr>
	";
	echo $Utilitys->tableend();
?>