<?php
print_r($coaclass);
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Chart of Account Sub Class')."</h2>
			</td>
		</tr>
		<tr>
			<th>
				".__('Type')."
			</th>
			<td>
				".$coaclasssubclass[0]["Coaclasssubclass"]["coatype_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Group")."
			</th>
			<td>
				".$coaclasssubclass[0]["Coaclasssubclass"]["coagroup_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Class")."
			</th>
			<td>
				".$coaclasssubclass[0]["Coaclasssubclass"]["coaclass_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Sub Class Code")."
			</th>
			<td>
				".$coaclasssubclass[0]["Coaclasssubclass"]["coaclasssubclasscode"]."
			</td>class
		</tr>
		<tr>
			<th>
				".__("Sub Class")."
			</th>
			<td>
				".$coaclasssubclass[0]["Coaclasssubclass"]["coaclasssubclass_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Active")."
			</th>
			<td>
				".$coaclasssubclass[0]["Coaclasssubclass"]["isActive"]."
			</td>
		</tr>
	";
	echo $Utilitys->tableend();
?>