<?php
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Transaction Type')."</h2>
			</td>
		</tr>
		<tr>
			<th>
				".__('Transaction Type')."
			</th>
			<td>
				".$transactiontype[0]["Transactiontype"]["transactiontypename"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Transaction Type BN")."
			</th>
			<td>
				".$transactiontype[0]["Transactiontype"]["transactiontypenamebn"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Active")."
			</th>
			<td>
				".$transactiontype[0]["Transactiontype"]["isActive"]."
			</td>
		</tr>
	";
	echo $Utilitys->tableend();
?>