<?php
//pr($branch);
echo $Utilitys->tablestart($class=null, $id=null);
	echo"<tr>";
		echo"<td colspan=\"2\">";
			echo "<h2>".__("Branch Information")."</h2>";
		echo"</td>";
	echo"</tr>";
	echo"<tr>";
		echo"<td>";
			echo __("Company Name");
		echo"</td>";
		echo"<td>";
			echo $branch[0]["Branch"]["company_name"];
		echo"</td>";
	echo"</tr>";
	echo"<tr>";
		echo"<td>";
			echo __("Branch Name");
		echo"</td>";
		echo"<td>";
			echo $branch[0]["Branch"]["branchname"];
		echo"</td>";
	echo"</tr>";
	echo"<tr>";
		echo"<td>";
			echo __("Branch Name BN");
		echo"</td>";
		echo"<td>";
			echo $branch[0]["Branch"]["branchnamebn"];
		echo"</td>";
	echo"</tr>";
	echo"<tr>";
		echo"<td>";
			echo __("Branch Code");
		echo"</td>";
		echo"<td>";
			echo $branch[0]["Branch"]["branchcode"];
		echo"</td>";
	echo"</tr>";
	echo"<tr>";
		echo"<td>";
			echo __("Branch Address(Present)");
		echo"</td>";
		echo"<td>";
			echo $branch[0]["Branch"]["branchpresentaddress"];
		echo"</td>";
	echo"</tr>";
	echo"<tr>";
		echo"<td>";
			echo __("Branch Address(Permanent)");
		echo"</td>";
		echo"<td>";
			echo $branch[0]["Branch"]["branchpermanentaddress"];
		echo"</td>";
	echo"</tr>";
	echo"<tr>";
		echo"<td>";
			echo __("Branch E-mail");
		echo"</td>";
		echo"<td>";
			echo $branch[0]["Branch"]["branch_email"];
		echo"</td>";
	echo"</tr>";
	echo"<tr>";
		echo"<td>";
			echo __("Branch Phone");
		echo"</td>";
		echo"<td>";
			echo $branch[0]["Branch"]["branch_phone"];
		echo"</td>";
	echo"</tr>";
	echo"<tr>";
		echo"<td>";
			echo __("Branch Is Active");
		echo"</td>";
		echo"<td>";
			echo $branch[0]["Branch"]["isActive"];
		echo"</td>";
	echo"</tr>";
echo $Utilitys->tableend($class=null, $id=null);

?>