<?php
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Location')."</h2>
			</td>
		</tr>
		<tr>
			<th>
				".__('Location')."
			</th>
			<td>
				".$location[0]["Location"]["locationname"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Location BN")."
			</th>
			<td>
				".$location[0]["Location"]["locationnamebn"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Active")."
			</th>
			<td>
				".$location[0]["Location"]["isActive"]."
			</td>
		</tr>
	";
	echo $Utilitys->tableend();
?>