<?php
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Category Information')."</h2>
			</td>
		</tr>
			<tr>
				<th>
					".__('Category Name')."
				</th>
				<td>
					".$category[0]["Category"]["categoryname"]."
				</td>
			</tr>
			<tr>
				<th>
					".__("Active")."
				</th>
				<td>
					".$category[0]["Category"]["isActive"]."
				</td>
			</tr>
	";
	echo $Utilitys->tableend();
?>