<?php
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Subject Information')."</h2>
			</td>
		</tr>
			<tr>
				<th>
					".__('Subject Name')."
				</th>
				<td>
					".$subject[0]["Subject"]["subjectname"]."
				</td>
			</tr>
			<tr>
				<th>
					".__('Subject Name BNG')."
				</th>
				<td>
					".$subject[0]["Subject"]["subjectnamebn"]."
				</td>
			</tr>
			<tr>
				<th>
					".__("Active")."
				</th>
				<td>
					".$subject[0]["Subject"]["isActive"]."
				</td>
			</tr>
	";
	echo $Utilitys->tableend();
?>