<?php
echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"3\">
				<h2>".__('Profile')."</h2>
			</td>
		</tr>
		<tr>
			<th>
				".__('Company')."
			</th>
			<td>
				".$users[0]["User"]["company_name"]."
			</td>
			<td rowspan=\"12\">
				".$this->html->image('/img/user/small/'.$users[0]["User"]["userimage"], array('alt'=> 'Picture of '.$users[0]["User"]["user_fullname"]))."
			</td>
		</tr>
		<tr>
			<th>
				".__('Branch')."
			</th>
			<td>
				".$users[0]["User"]["branch_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Group")."
			</th>
			<td>
				".$users[0]["User"]["user_groupname"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Institute")."
			</th>
			<td>
				".$users[0]["User"]["institute_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Department")."
			</th>
			<td>
				".$users[0]["User"]["department_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Designation")."
			</th>
			<td>
				".$users[0]["User"]["designation_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Category")."
			</th>
			<td>
				".$users[0]["User"]["category_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Subject")."
			</th>
			<td>
				".$users[0]["User"]["subject_fullname"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Institute")."
			</th>
			<td>
				".$users[0]["User"]["institute_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Fullname (Username)")."
			</th>
			<td>
				".$users[0]["User"]["user_fullname"]." ( ".$users[0]["User"]["username"]." )
			</td>
		</tr>
		<tr>
			<th>
				".__("Permanent Address")."
			</th>
			<td>
				".$users[0]["User"]["userpermanentaddress"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Present Address")."
			</th>
			<td>
				".$users[0]["User"]["userpresentaddress"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Phone")."
			</th>
			<td>
				".$users[0]["User"]["usertelephone"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Official Mobile")."
			</th>
			<td>
				".$users[0]["User"]["usermobileofficial"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Email")."
			</th>
			<td>
				".$users[0]["User"]["useremailaddress"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Joining Date")."
			</th>
			<td>
				".$users[0]["User"]["userjoiningdate"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Date of Birth")."
			</th>
			<td>
				".$users[0]["User"]["userdob"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Marriage Day")."
			</th>
			<td>
				".$users[0]["User"]["usermarriageday"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Child's Birth Day")."
			</th>
			<td>
				".$users[0]["User"]["userchilddob"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Active")."
			</th>
			<td>
				".$users[0]["User"]["isActive"]."
			</td>
		</tr>
	";
echo $Utilitys->tableend($class=null, $id=null);
?>