<?php
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Career History')."</h2>
			</td>
		</tr>
			<tr>
				<th>
					".__('Employee Name')."
				</th>
				<td>
					".$userachievement[0]["Userachievement"]["user_fullname"]."
				</td>
			</tr>
			<tr>
				<th>
					".__('Achievement')."
				</th>
				<td>
					".$userachievement[0]["Userachievement"]["userachievementname"]."
				</td>
			</tr>
			<tr>
				<th>
					".__('Type')."
				</th>
				<td>
					".$userachievement[0]["Userachievement"]["achievementStatus"]."
				</td>
			</tr>
			<tr>
				<th>
					".__('Amount')."
				</th>
				<td>
					".$userachievement[0]["Userachievement"]["userachievementamount"]."
				</td>
			</tr>
			<tr>
				<th>
					".__('Description')."
				</th>
				<td>
					".$userachievement[0]["Userachievement"]["userachievementdescription"]."
				</td>
			</tr>
			<tr>
				<th>
					".__('Date')."
				</th>
				<td>
					".$userachievement[0]["Userachievement"]["userachievementdate"]."
				</td>
			</tr>
			<tr>
				<th>
					".__("Active")."
				</th>
				<td>
					".$userachievement[0]["Userachievement"]["isActive"]."
				</td>
			</tr>
	";
	echo $Utilitys->tableend();
?>