
<?php 	echo $Utilitys->tablestart($class=null, $id=null);?>
	<tr>
		<td colspan="2"><h2>User Profile</h2></td>
	</tr>
	<tr>
		<td>Name</td>
		<td><?php echo $user['User']['userfirstname']." " .$user['User']['usermiddlename']." " .$user['User']['userlastname'];?></td>
	</tr>
	<tr>
		<td>User Name</td>
		<td><?php echo $user['User']['username'];?></td>
	</tr>
	<tr>
		<td>Permanent Address</td>
		<td><?php echo $user['User']['userpermanentaddress'];?></td>
	</tr>
	<tr>
		<td>Present Address</td>
		<td><?php echo $user['User']['userpresentaddress'];?></td>
	</tr>
	<tr>
		<td>Telephone</td>
		<td><?php echo $user['User']['usertelephone'];?></td>
	</tr>
	<tr>
		<td>Email Address</td>
		<td><?php echo $user['User']['useremailaddress'];?></td>
	</tr>
	<tr>
		<td>Company Name</td>
		<td><?php echo $user['Company']['companyname']. " / ".$user['Company']['companynamebn'];?></td>
	</tr>
	<tr>
		<td>Branch Name</td>
		<td><?php echo $user['Branch']['branchname']. " / " .$user['Branch']['branchnamebn'];?></td>
	</tr>
	<tr>
		<td>Is Active</td>
		<td>
			<?php
			 //echo $user['User']['userisactive'];
			if($user['User']['userisactive'] == 1){
				echo "Active";
			} elseif ($user['User']['userisactive'] == 1) {
				echo "Inactive";
			}else{
				echo "Delete";
			}
			?>
		</td>
	</tr>
</table>