<?php
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Relationship Information')."</h2>
			</td>
		</tr>
			<tr>
				<th>
					".__('Relationship Name')."
				</th>
				<td>
					".$userrelationship[0]["Userrelationship"]["userrelationshipname"]."
				</td>
			</tr>
			<tr>
				<th>
					".__("Active")."
				</th>
				<td>
					".$userrelationship[0]["Userrelationship"]["isActive"]."
				</td>
			</tr>
	";
	echo $Utilitys->tableend();
?>