<h2>User Profile</h2>
<table class="table table-bordered table-hover table-striped">
	<tr>
		<td>Name</td>
		<td><?php echo $this->data['User']['userfirstname']." " .$this->data['User']['usermiddlename']." " .$this->data['User']['userlastname'];?></td>
	</tr>
	<tr>
		<td>Name</td>
		<td><?php echo $this->data['User']['username'];?></td>
	</tr>
</table>