<?php
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Academic Information')."</h2>
			</td>
		</tr>
			<tr>
				<th>
					".__('Employee Name')."
				</th>
				<td>
					".$usereducation[0]["Usereducation"]["user_fullname"]."
				</td>
			</tr>
			<tr>
				<th>
					".__("Active")."
				</th>
				<td>
					".$usereducation[0]["Usereducation"]["isActive"]."
				</td>
			</tr>
	";
	echo $Utilitys->tableend();
?>