<?php
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Bank Information')."</h2>
			</td>
		</tr>
			<tr>
				<th>
					".__('Bank')."
				</th>
				<td>
					".$bank[0]["Bank"]["bankname"]."
				</td>
			</tr>
			<tr>
				<th>
					".__("Bank BN")."
				</th>
				<td>
					".$bank[0]["Bank"]["banknamebn"]."
				</td>
			</tr>
			<tr>
				<th>
					".__("Active")."
				</th>
				<td>
					".$bank[0]["Bank"]["isActive"]."
				</td>
			</tr>
	";
	echo $Utilitys->tableend();
?>