<?php
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Bank Account Type')."</h2>
			</td>
		</tr>
		<tr>
			<th>
				".__('Account Type')."
			</th>
			<td>
				".$bankaccounttype[0]["Bankaccounttype"]["bankaccounttypename"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Account Type BN")."
			</th>
			<td>
				".$bankaccounttype[0]["Bankaccounttype"]["bankaccounttypenamebn"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Active")."
			</th>
			<td>
				".$bankaccounttype[0]["Bankaccounttype"]["isActive"]."
			</td>
		</tr>
	";
	echo $Utilitys->tableend();
?>