<?php
	echo $Utilitys->tablestart($class=null, $id=null);
	echo"
		<tr>
			<td colspan=\"2\">
				<h2>".__('Unit Type')."</h2>
			</td>
		</tr>
		<tr>
			<th>
				".__('Unit Type Name')."
			</th>
			<td>
				".$unittypes[0]["Unittype"]["unittype_name"]."
			</td>
		</tr>
		<tr>
			<th>
				".__("Active")."
			</th>
			<td>
				".$unittypes[0]["Unittype"]["isActive"]."
			</td>
		</tr>
	";
	echo $Utilitys->tableend();
?>